body{
    background-image: url(Images/wallpaper.png);
    margin: auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.container #paginacion{
    text-align: center;
}
  
.container #paginacion .btn-group{
    margin: 25px;
}

#datos button{
    float: right;
}

.det_personaje{
    text-align: center;
    padding-top: 25px;
}
  
.det_personaje img{
    padding-top: 40px;
    padding-bottom: 40px;
}
  

  